<div class="user-heading">
  <% avatar_url = @user.avatar_url(128) %>
  <% if avatar_url %>
    <%= image_tag avatar_url %>
  <% end %>
  <div class="user-top">
    <h1><%= @user.name %></h1>
    <h3><%= pluralize(@user.posts.count, 'post') %></h3>
    <h3><%= pluralize(@user.comments.count, 'comment') %></h3>
  </div>
</div>

<div class="container user-content">
  <h2>Posts</h2>
  <%= render @user.posts %>
  <h2>Comments</h2>
  <%= render @user.comments %>
</div>
