<div class="user-heading">
  <% avatar_url = @user.avatar_url(128) %>
  <% if avatar_url %>
    <div>
      <%= image_tag avatar_url %>
    </div>
  <% end %>
  <div class="user-top">
    <h2><%= @user.name %></h2>
    <p><%= pluralize(@user.posts.count, 'post') %></p>
    <p><%= pluralize(@user.comments.count, 'comment') %></p>
  </div>
</div>
<div class="container user-content">
 <h2>Posts</h2>
 <%= render @user.posts %>
 <h2>Comments</h2>
 <%= render @user.comments %>
</div>
