<div class="user-heading">
  <% avatar_url = @user.avatar_url(128) %>
  <% if avatar_url %>
    <div>
      <%= image_tag avatar_url %>
    </div>
  <% end %>
  <div class="user-info">
    <h2><%= @user.name %></h2>
      <%= pluralize(@user.posts.count, 'post') %>,
      <%= pluralize(@user.comments.count, 'comment') %>
  </div>
</div>
<div class="user-content">
 <h2>Posts</h2>
 <%= render @user.posts %>
</div>
<div class="user-content">
 <h2>Comments</h2>
 <%= render @user.comments %>
</div>
