<% provide(:nav_style, "transparent-nav") %>
<div class="home-img">
    <%= image_tag("home_img.jpg") %>
    <h1>Discuss anything and everything</h1>
    <h5>Bulletin is a resource for discussing topics and sharing links with the community or your friends</h5>
    <p><%= link_to "Learn More", learn_more_path, class: "btn btn-primary"%></p>
  </div>
  <section class="container col-info">
    <div class="col-sm-4">
      <%= image_tag("image1.png") %>
      <h3>Discuss</h3>
      <p>Start a new topic or join an existing one. Discuss latest news, projects, or stories with friends and the Bulletin community.</p>
    </div>
    <div class="col-sm-4">
      <%= image_tag("image2.png") %>
      <h3>Share Links</h3>
      <p>Spread the word. Share your favorite links and see what others have to say about it, or see what the community has shared.</p>
    </div>
    <div class="col-sm-4">
      <%= image_tag("image3.png") %>
      <h3>Easy to Use</h3>
      <p>Once you make an account your ready to share, like, and discuss with everyone all over the world.</p>
    </div>
  </section>
</div>
